<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>updating </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">UPDATE ABOUT PAGE</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li id="blog"><a href="/">Home</a></li>
                <li id="blog"><a href="/add_about_content">Add</a></li>
                <li id="blog"><a href="/about_routes">Manage</a></li>

            </ul>
        </div>
    </nav>

<body>
    <div class="container">
        <div>
            
            <form action="/update_about_contents/<%= about._id %>" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Title</label>
                    <input class="form-control" type="text" name="title" value="<%= about.title%>">
                    <br>
                    <label for="image">Select Image</label>
                    <input class="form-control" type="file" name="image">
                    <img src="/<%= about.image %>" width="100" hight="100" class="img-thumbnails mt-1">
                    <input type="hidden" name="old_image" value="<%= about.image%>"> <br>

                    <label>Description</label>
                    <textarea class="form-control" type="textarea" name="content" rows="5"
                        cols="30"><%= about.content%></textarea> <br>
                    <input class="btn btn-success btn-lg" type="submit" name="submit" value="Update" />
                </div>
            </form>
        </div>

        <%- include("../partials/footer"); -%>